.friends-page-content {
    display: none;
    height: 92%;
    overflow-x: scroll;
    .nav-bar {
        height: 8%;
        background-color: $main-color;
        width: 100%;
        button {
            background-color: $main-color;
            border: 1px solid $main-color;
            margin-left: 20%;
            height: 100%;
            color: white;
            font-size: 0.6em;
        }
        .friend-icon {
            float: right;
            height: 100%;
            img {
                height: 90%;
                margin-top: 10%;
            }
        }
    }
    .content {
        text-align: center;
        height: 92%;
        width: 100%;
        .wallpaper {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .couple-icon {
            height: 25%;
            margin-top: -20%;
            text-align: center;
            img {
                height: 100%;
            }
        }
        p {
            font-size: 1em;
            color: $grey-text;
        }
        button {
            margin-top: 10%;
            padding: 1em;
            border: $search-bar-color;
            border-radius: 0.8em;
            background-color: $main-color;
            color: white;
            font-size: 0.6em;
        }
    }
}
    