.create-channel-page-content {
    display: none;
    height: 92%;
    overflow-x: scroll;
    .nav-bar {
        height: 8%;
        background-color: $main-color;
        width: 100%;
        text-align: left;
        button {
            height: 100%;
            float: left;
            width: 33.3%;
            color: white;
            font-size: 1rem;
            img {
                height: 60%; 
                float: left;
            }
            .img-setting {
                height: 60%; 
                float: right;
            }
            font {
                font-size: 0.5em;
                float: right;
                color: white;
            }
        }
    }
    .channel-profile {
        text-align: center; 
        width: 100%; 
        height: 70%;
        .wall-paper {
            position: relative;
            width: 100%;
            input[type="file"] {
                position: absolute;
                opacity: 0;
                height: 100%;
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
        .profile-img {
            position: relative;
            width: 25%; 
            margin-top: -15%;
            text-align: center;
            margin-left: 37.5%;
            input[type="file"] {
                position: absolute;
                opacity: 0;
                height: 100%;
                width: 100%;
            }
            img {
                border-radius: 100%;
                border: 1px solid white;
                width: 100%;
            }
        }
        .channel-name {
            color: $main-text; 
            font-size: 1rem; 
            font-weight: bold;
        }
        .follow-button {
            background-color: $follow-button; 
            border: 1px solid $follow-button; 
            color: white; 
            width: 60%; 
            height: 5vh;
        }
        .follow-and-post {
            width: 60%; 
            margin-left: 20%; 
            margin-top: 2vh; 
            color: $grey-text; 
            height: 4vh;
            span {
                width: 50%; 
                float: left; 
                font-size: 0.8rem;
            }
        }
        .channel-newsfeed-or-img {
            width: 100%; 
            border-bottom: 1px solid $input-type-border; 
            height: 4vh; 
            margin-top: 2vh;
            .button-left {
                background-color: white; 
                border: 1px solid white; 
                float:left; 
                width: 20%; 
                height: 100%; 
                font-size: 0.9rem; 
                margin-left: 20%;
            }
            .button-right {
                background-color: white; 
                border: 1px solid white; 
                float:left; 
                width: 20%; 
                height: 100%; 
                font-size: 0.9rem;
            }
        }
    }
    .channel-newsfeed-or-img {
        width: 98%; 
        height: 10%;
        padding-left: 0.5%;
        img {
            width: 32%;
        }
    }
    .unopen-title {
        margin-top: 10%; 
        text-align: center;
        color: $grey-text;
    }
}