.newsfeed-page-content {
    height: 92%;
    width: 100%;
    display: none;
    //background-color: red;
    .nav-bar {
        height: 8%;
        background-color: $main-color;
        width: 100%;
        text-align: center;
        #search-bar {
            width: 70%;
            border: 1px solid $search-bar-color;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 1.5vh;
            height: 5vh;
            font-size: 1rem;
            color: white;
            background-color: $search-bar-color;
        }
    }
    .newsfeed-btn-group {
        margin-top: 2%;
        height: 5%;
        border-bottom: 1px solid $input-type-border;
        #newsfeed-btn-newest {
            float: right;
            background-color: white;
            height: 100%;
            border: 1px solid white;
            width: 15vw;
            font-size: 1rem;
            color: $grey-text;
        }
        #newsfeed-btn-hottest {
            float: right;
            background-color: white;
            height: 100%;
            border: 1px solid white;
            width: 15vw;
            font-size: 1rem;
            color: $grey-text;
        }
    }
    .all-newsfeed-content {
        overflow-y: scroll;
        height: 85%;
        width: 100%;
        padding-top: 5%;
        .single-newsfeed-content {
            width: 100%;
            //height: 100%;
            margin-bottom: 5vh;
            .post-img {
                width: 95%;
                margin-top: 2vh; 
                margin-left: 2.5%;
            }
            .channel-profile-content {
                width: 100%;
                img {
                    width: 12%;
                    float: left;
                    margin-left: 2.5%;
                }
                .channel-name {
                    font-size: 0.8rem;
                }
                .create-time {
                    font-size: 0.8rem; 
                    color: $grey-text;
                }
            }
            .text-content {
                margin-left: 2.5%; 
                width: 95%; 
                //height: 100%;
                font {
                    font-size: 0.8rem;
                }
                .keep-reading {
                    color: $main-text;
                }
                hr {
                    width: 95vw;
                    color: $hr;
                }
                .client-button {
                    //margin-top: 2vh; 
                    height: 5vh; 
                    button {
                        float: left; 
                        width: 33.3%;
                        img {
                            height: 3vh;
                        }
                    }
                }
            }
        }
    }
}